<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>CSS DropDown Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Keep the http-equiv meta tag for IE8 -->

  <meta http-equiv="X-UA-Compatible" content="IE=8" />

<!-- Link the CSS file here -->

<link rel="stylesheet" type="text/css" media="screen,projection" href="style.css" />

</head>

<body>

<!-- PULL DOWN MENU - BEGIN -->

<div class="mainmenu">

<ul>
      <li class="li_nc"><a href="#"  >ACCUEIL</a></li>
      <li class="li_hc"><a href="#"  >ULBU</a><ul class="ul_ch">
         <li class="li_nc"><a href="#"  >pourquoi choisir ulbu</a></li>
         <li class="li_nc"><a href="#"  >apropos</a></li>
         <li class="li_nc"><a href="#"  >campus</a></li>
         <li class="li_nc"><a href="#"  >devise,mission</a></li>
         <li class="li_nc"><a href="#"  >ensegnement</a></li>
         <li class="li_nc"><a href="#"  >origine , histoire et mision</a></li>
      </ul></li>
      <li class="li_hc"><a href="#"  >ADMISSION</a><ul class="ul_ch">
         <li class="li_nc"><a href="#"  >formulaire d'inscription</a></li>
         <li class="li_nc"><a href="#"  >admission:baccalaureat</a></li>
         <li class="li_nc"><a href="#"  >admission:master</a></li>
      </ul></li>
      <li class="li_nc"><a href="#"  >ETUDIANT</a></li>
      <li class="li_hc"><a href="#"  >PROGRAMME</a><ul class="ul_ch">
         <li class="li_hc"><a href="#"  >baccalaureat</a><ul class="ul_ch">
            <li class="li_nc"><a href="#"  >facultes des l'economie et gestion</a></li>
            <li class="li_nc"><a href="#"  >faculte des science et communication</a></li>
            <li class="li_hc"><a href="#"  >faculte de theologie</a><ul class="ul_ch">
               <li class="li_nc"><a href="#"  >faculte des psychologie</a></li>
               <li class="li_nc"><a href="#"  >faculte de droit ,science</a></li>
               <li class="li_nc"><a href="#"  >faculte de la sante</a></li>
               <li class="li_nc"><a href="#"  >faculte des science et technologie</a></li>
            </ul></li>
         </ul></li>
         <li class="li_hc"><a href="#"  >institut</a><ul class="ul_ch">
            <li class="li_nc"><a href="#"  >INSTITUT SUPERIEUR ET PROFFESIONNEL EN ENTREPENARIAT</a></li>
            <li class="li_nc"><a href="#"  >INSTITUT SUPERIEUR DE GESTION ET COMMERCE(USGECO)</a></li>
         </ul></li>
         <li class="li_hc"><a href="#"  >master</a><ul class="ul_ch">
            <li class="li_nc"><a href="#"  >MASTER IN BUSSNESS AND ADMINITRATIF</a></li>
            <li class="li_nc"><a href="#"  >gestion de devellopement</a></li>
            <li class="li_nc"><a href="#"  >droit des afaire</a></li>
         </ul></li>
         <li class="li_nc"><a href="#"  >cufore</a></li>
         <li class="li_nc"><a href="#"  >ISGECO</a></li>
         <li class="li_nc"><a href="#"  >horaires des cours</a></li>
      </ul></li>
      <li class="li_nc"><a href="#"  >ACTUALITE</a></li>
      <li class="li_hc"><a href="#"  >MULTIMEDIA</a><ul class="ul_ch">
         <li class="li_nc"><a href="#"  >PHOTOS</a></li>
         <li class="li_nc"><a href="#"  >VIDEOS</a></li>
      </ul></li>
      <li class="li_nc"><a href="#"  >FORMULAIRE</a></li>
      <li class="li_nc"><a href="#"  >INSRIPTION</a></li>
      <li class="li_nc"><a href="#"  >CONTACTE-NOUS</a></li>
</ul>


</div>

<!-- END OF PULL DOWN MENU -->

<p>&nbsp;</p>
<p>This is just a demo page...</p>

</body>
</html>
